*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    padding-top: 34px; 
    background-color: #FFFFFF;   
}
nav{
    width: 1600px;
    max-width: 1600px;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
nav .link{
   margin: 0 auto;
    display: flex;
   list-style-type: none;
   gap: 32px;
   align-items: center;
   height: 24px;
   font-weight: 365px;
}
.navbar{
    display: flex;
    list-style: none;
    gap: 32px;
    text-decoration: none;
    justify-content: space-between;

    
}
/* .link{
    display: flex; */
    /* text-decoration: none; */

/* } */
.navbar .link .aa {
    list-style: none;
    gap: 32;
    display: flex;
    justify-content: space-between;
    


}
.navbar .link a{
    text-decoration: none;
    color: black;
}
.btn{
    border: none;
    background-color: #469165;
    padding: 16px 12.5px;
    font-size: 16px;
    border-radius: 4px;
    gap: 10;
    color: #FFFFFF;
}

/* hero section */
 .banner {
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url("../assets/hero-bg.png");
    width: 1600px;
    background-position: center;
    background-size: cover;

    
     
}
.color{
    color: #FFFFFF;
}
.color-primary{
    color: #30B868;
}
.notes{
    background-color: #FFFFFF;
    color: #001931;
    text-align: center;
    padding: 40px 0;
    

    
}
.notes p {
    gap:16 px;
    size: 16px;
    line-height: 20px;
    font-size: x-small;
    color: black;
    
}

.card {
    display: flex;
    padding: 50px 20px;
    gap: 24px;
    margin-bottom: 44px;
    color: #0000000F;
    align-items: center;
    

}
.card-item{
    box-shadow: 0 0 12px 2px rgba(0,0,0,0.1);
    padding: 20px;
    height: 300px;
    width: 322px;
    align-items: center;
}
.card div img{
   background-color:  #F95555;
   font-size: 1px;
   color: #FFFFFF;
   height: 60px;
   width: 60px;
   border-radius: 50px; 
   padding:24px;
   box-shadow: 0 8px 0 0;
   max-width: 322px;
   color: #0000000F;

}
        
   
.card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 10px;
}

.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.solution {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    
}
.solution h6{
    color: #30B868;
    padding-bottom: 15px;
}
.solution p{
    padding: 15px 0;
}
.solution .featured-list {
    width: 700;
    height: 20px;
    size: 20px;
    color:#001931;
    align-items: center;
    gap: 40px;
}
    


 .cta-section{
    background: #F7F6F2;
    
    padding: 80px 40px;
    text-align: center;
    color: #001931;
 }
 .cta-section h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;

 }
 .cta-section p{
    font-size: 16px;
    margin-bottom: 24px;
    color: #627382;
 }
 .last btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 15px 35px;
    border: none;
 }
 .last btn:hover {
    background-color: palegreen;

 }


footer{
    background-color: #001931;
    max-width: 1600px;
}
 .footer-container{
    background-color: #001931;
    color: #FFFFFF;
    padding: 0 20px;
    height: 348px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    
 }
 .footer-top {
    
 }
.social-links p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
 }
 .icon a :hover {
    opacity: 1;
 }
.footer-divider {
    border: 0;
    border-top: 1px dashed;
    margin-bottom: 20px;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
    
    
}
.icon {
    display: flex;
}
button:hover{
    background-color: #87f3b4;
}


.btn:hover{
    background-color: #87f3b4;
}



